.nav{
    padding: 0 1.25rem;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: transparent;
    transition: all 0.3s ease-in-out;
    .header-logo{
        margin: 0;
        padding-top: 1rem;
    }
    .navbar-toggler{
        padding-top: 1rem;
    }
    .nav-item{
        padding: 1rem 0 0 2.1rem;
    }
    .nav-link{
        font-family: 'Roboto', sans-serif;
        color: $light;
        padding: 1rem 0 0 0;
    }
    &.scrolled{
        background: rgba(245, 245, 245, 0.7);
        backdrop-filter: blur(1rem);
        filter: drop-shadow(0 0 0.5rem $secondary);
        svg{
            path{
                fill: $primary;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .nav{
        padding: 0 6.25rem;
        .nav-item{
            padding: 0 0 0 4.3rem;
        }
        &.scrolled{
            .nav-link{
                color: $primary;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .nav{
        padding: 0 3.1rem 1rem;
        &.scrolled{
            .nav-link{
                color: $primary;
            }
        }
    }
}