.btn{
    border-radius: 30px;
    padding: 1rem 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: $light;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #016678, #02BDDE);
    border: none;
}