.card{
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
}

.card-body{
    text-align: justify;
    margin: 1rem;
}
.card-footer{
    border: none;
    background-color: $white;
    padding: 1rem 0;
    margin-top: 2rem;
    .prenom{
        color: $primary;
    }
    .profession{
        text-transform: uppercase;
    }
}