body{
    background-color: $light;
    position: relative;
    .btn-header{
        position: absolute;
        top: 80vh;
        left: 50%;
        translate: -50% -50%;
        font-size: 1.25rem;
    }
}